
// The login server listens on the interface with this IP address.
// NOTE: This allows you to run multiple servers on multiple interfaces
// while using the same ports for each server.
bind_ip: {{ athena_login_server_ip }} 
 
// Login Server Port
login_port: {{ athena_login_server_port }}