// Interserver communication passwords, set in account.txt (or equiv.)
userid: {{ athena_server_userid }}
passwd: {{ athena_server_password }}

// Character Server IP
// The map server connects to the character server using this IP address.
// NOTE: This is useful when you are running behind a firewall or are on
// a machine with multiple interfaces.
char_ip: {{ athena_char_server_ip }}

// The map server listens on the interface with this IP address.
// NOTE: This allows you to run multiple servers on multiple interfaces
// while using the same ports for each server.
bind_ip: {{ athena_map_server_ip }} 

// Character Server Port
char_port: {{ athena_char_server_port }}

// Map Server IP
// The IP address which clients will use to connect.
// Set this to what your server's public IP address is.
map_ip: {{ athena_map_server_ip_public }}

// Map Server Port
map_port: {{ athena_map_server_port }}